.sun {
  display: none;
}

:global(:root[data-theme="dark"]) .sun {
  display: block;
}

:global(:root[data-theme="dark"]) .moon {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :global(:root:not([data-theme="light"])) .sun {
    display: block;
  }

  :global(:root:not([data-theme="light"])) .moon {
    display: none;
  }
}
